* {
    box-sizing: border-box;
    background-color: rgb(59, 43, 70);
    font-family: Rockwell, "sans serif", serif;
    font-size: 16px;
    color: white;
}
:root {
    --l-purple: rgb(123, 97, 145);
    --d-purple: #412c64;
}

/* Header 
---------------------- */

h1 {
    font-size: 45px;
    padding-top: 2vh;
    text-align: center;
}

/* Navbar */

nav {
    border-radius: 20px;
    justify-content: flex-end;
    display: flex;
}
nav li {
    display: block;
    padding: 6px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a {
    display: inline-block;
    text-decoration: none;
    cursor: grab;
}

ul.nav {
    background-color: var(--l-purple);       
    border: 1px solid #999;
    height: 20px; 
    margin: 0px auto;
    width: 400px;        
  }
 
  ul.nav li {
    background-color: var(--l-purple); 
    display: block;
    float: left;
    height: 20px;
    width: 80px;  
  }
  .navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation a {
    background: var(--l-purple);
    background: linear-gradient(var(--l-purple), #251244);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
  }
  .navigation a:hover {
    background: var(--d-purple);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }
  .navigation li:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
  }
h2 {
    text-align: center;
      font-size: 30px;
      padding-left: 55px;
      padding-top: 20px;
      padding-right: 50px;
      padding-bottom: 10px;
  }
section figure img {
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
#dog {
    border-radius: 15px;
    display: none;
}
p {
    padding-left: 25px;
    padding-top: 10px;
}
.biography {
    display: flex;
    flex-wrap: wrap;
}
.sections-box {
    display: flex;
    position: inherit;
    width: 100%;
    padding: 5px;
    margin: 5px;
}
.box {
    display: block;
    position: inherit;
    float: left;
    width: 500px;
    border: 10px solid var(--l-purple);
    padding: 20px;
    margin: 20px;
    border-radius: 70px;
  }
  .projects-underline {
  text-decoration: underline var(--l-purple);
  text-decoration-style: solid;
  padding: 0 0 10px;
  }
.project-box {
    position: inherit;
    float: right;
    width: 1000px;
    border: 10px none;
    padding: 20px;
    margin: 20px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
  }
  figure {
    display: flex;
    flex-basis: 20%;
    min-height: 100px;
    justify-content: space-around;
  }
section ul {
      margin-left: 20px;
  }
.contact-info {
        display: block;
        width: 25%;
        text-align: left;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 50px;
  }
h3 {
    font-size: 25px;
    margin-left: 10px;
    text-decoration: underline var(--l-purple);
    text-decoration-style: solid;
    padding: 0 0 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Footer 
-------------------------*/
.footer {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .column {
    width: 100%;
  }
}